

<!doctype html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-pink.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> -->

<html>
<head>
	<title> LabelLite </title>
</head>
<body>

<h1> Label Discharge Summary </h1>

 

<form action='.' method='POST'> {% csrf_token %} 
{{form.as_p}}


<input type='submit' value='Get Labels'/>

</form>
<p>
Output:
<!-- there is a lot of text here. why doesn't it render, because of comments.
 --></p>
{{processed_text | safe}}

</body>
</html>

