

<!doctype html>
{% load static %}
{% load materialize %}


<html>
<head>
	<title> LabelLite </title>

    <!-- for our own ML model labels -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

 	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  media="screen,projection"/>


</head>
<body class=>

<div class="navbar-fixed">
	<nav class="blue darken-3">
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo center"> <i class="material-icons">mode_edit</i>  Label Discharge Summary </a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="/admin/"> Admin DB</a></li>
	  </ul>
	</div>
	</nav>
</div>

<div class="container">
<form action='.' method='post' >
    {% csrf_token %}
    {{form.title}}
    {{form.original}} 

    <button type='submit' class="btn blue darken-2">Get Labels </button>
</form>


  <div class="row">
      <div class="card blue lighten-5">
        <div class="card-content blue-text">
          <span class="card-title">Labelled Summary</span>
{{processed_text | safe}}
        </div>
      </div>
  </div>


</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'materialize.js' %}"></script>

</body>
</html>

