:root {
  --font-color: rgb(214, 25, 127);
  --highlight1: rgb(211,211,211);
}


.label{
    /* needed if using the ML model*/
    border-radius: 0.5em;
    padding: 0 0.1rem 0rem;
    background: var(--highlight1);
    color: beige;
    display: inline-block;
}
